In [1]:
from mixclu import *

In [6]:
df, cat_columns =  get_dummy_data(1000, 
                   10, 
                   5, 
                   missing_values = None, 
                   id_cols        = None)

In [7]:
# get one hot encoding
df_one, cat_col  = one_hot_df(df, cat_columns, True)

In [8]:
#famd features
df_famd          = famd_feats(df_one, cat_col, 5)

In [9]:
# get hopkins result
hopkins(df_one)

0.9157354585220968

In [13]:
# get pca features from dataframe

con_columns     = list(set(df.columns) - set(cat_columns))
df_pca, score   = pca_feats(df, con_columns, dim = 3)

total pca dim  3

In [14]:
df_pca

     X7  X3  X1  X6  X2     pca_0     pca_1     pca_2
0     0   1   1   1   0 -0.781709 -1.105010 -0.992716
1     0   1   1   1   0 -0.896416 -0.571196  0.351416
2     1   0   0   1   0  1.385859 -0.530794 -0.642081
3     1   0   0   0   0  1.401237  0.631388  0.376610
4     0   1   1   1   0 -0.990974 -0.803540  0.268711
..   ..  ..  ..  ..  ..       ...       ...       ...
995   1   1   1   1   1 -0.488929  1.335147  0.973598
996   0   1   1   1   1 -0.349617  1.525403 -0.267062
997   0   0   1   1   0 -0.952579 -1.130032 -0.095664
998   0   0   1   1   0 -1.042469 -1.005044 -2.152216
999   0   1   1   0   1 -0.469037  1.068537  1.213881

[1000 rows x 8 columns]

In [15]:
score

      pca_0     pca_1     pca_2
0  0.773056  0.969312  0.987269